{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}
{% block content %}
<h1>Password Change</h1>

{% if form %}
{% if form.errors %}
<p class="errors">
    Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}

{% if validink %}
<p>Please enter your new password, and confirm it.</p>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% else %}
<p>Your password confirmation link is invalid. Please try requesting a new password reset.</p>
{% endif %}
{% endblock %}
