{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}
{% block content %}
<h1>Password Reset</h1>

{% if form %}
{% if form.errors %}
<p class="errors">
    Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}

<p>Please enter your email to reset your password</p>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% else %}
<p>Password reset email sent</p>
{% endif %}
{% endblock %}
