{% extends "base.html" %}

{% block title %}Edit Phone Details{% endblock %}

{% block content %}
<h1>Phone Details</h1>

<p>Enter a phone number here to receive text notifications</p>
<form method="post" action="">
    {% csrf_token %}
    <table class="vertical">
        {{ form.as_table }}
        <tr><th>Verified:</th><td>{% if number.is_verified %}Yes{% else %}No{% endif %}</td></tr>
        {% if not number.is_verified %}
        <tr><th>Verify link:</th><td><a href="{% url 'verify_code' %}">Verify number</a></td></tr>
        {% endif %}
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}
