<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head {% block prefix %}{% endblock %}>
        {% block head_extra %}{% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}assassins_manager/css/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}assassins_manager/css/main.css">
        <link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />

        <script src="{{ STATIC_URL }}assassins_manager/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <section id="wrapper">
            <header>
                <h1>CU Assassins</h1>
                </header>
            <section id="middle">
                <section id="sidebar">
                    {% include 'sidebar.html' %}
                </section>
                <section id="content">
                    {% block content %}{% endblock %}
                </section>
            </section>
            <footer>
                    <p>Disputes? Email <a href="mailto:dispute@assassins.columbiaesc.com">dispute@assassins.columbiaesc.com</a> and we'll get back to you as soon as possible. Except in extraordinary cases, be aware that we will <strong>not</strong> resurrect players as a result of disputes</p><br />
                    <p>Developed by <a href="http://github.com/rbtying/">Robert Ying</a> for the Columbia University Engineering Student Council. Copyright &copy; 2013, All Rights Reserved.</p>
            </footer>
        </section>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}assassins_manager/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

        <script src="{{ STATIC_URL }}assassins_manager/js/plugins.js"></script>
        <script src="{{ STATIC_URL }}assassins_manager/js/main.js"></script>
        {% include 'django_facebook/_facebook_js.html' %}
    </body>
</html>
