<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}assassins_manager/css/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}assassins_manager/css/main.css">
        <link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />

        <script src="{{ STATIC_URL }}assassins_manager/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <header>
        <ul class="navigation">
            <li><a href="{% if game_current %}{% url 'game_details' game=game_current.name %}{% else %}{% url 'game_list' %}{% endif %}">Game</a>
                <ul>
                    <li>
                        <a href="{% url 'game_list' %}">Game List</a>
                    </li>
                {% if game_current %}
                    <li><a href="{% url 'game_details' game=game_current.name %}">Details</a></li>
                    {% if assassin_current.is_admin %}
                    <li><a href="{% url 'game_admin' game=game_current.name %}">Admin</a></li>
                    {% endif %}
                {% endif %}
                </ul>
                </li>
            <li><a href="#">Profile</a>
                <ul>
                {% if game_current %}
                    <li><a href="{% url 'assassin_details' game=game_current.name username=user.username %}">Assassin Profile</a></li>
                {% endif %}
                    <li><a href="{% url 'edit_phone' %}">Phone Number</a></li>
                </ul>
            </li>
            {% if game_current %}
            <li><a href="#">Squad</a>
                <ul>
                    {% if squad_current %}
                    <li><a href="{% url 'squad_details' game=game_current.name squad=squad_current.id %}">Details</a></li>
                    <li><a href="{% url 'my_contracts' game=game_current.name %}">Contracts</a></li>
                    <li><a href="{% url 'report_kill' game=game_current.name %}">Report Kill</a></li>
                    <li><a href="{% url 'squad_leave' game=game_current.name %}">Leave Squad</a></li>
                    {% else %}
                    <li><a href="{% url 'squad_add' game=game_current.name %}">Create Squad</a></li>
                    <li><a href="{% url 'squad_join' game=game_current.name %}">Join Squad</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>
        <ul class="login">
            {% if user.is_authenticated %}
                {% if user.first_name %}<li>Welcome, {{ user.first_name }}</li>{% endif %}
                <li><a href="{% url 'auth_logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Log in</a></li>
            {% endif %}
        </ul>
        </header>
        <div id="wrapper">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}assassins_manager/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

        <script src="{{ STATIC_URL }}assassins_manager/js/plugins.js"></script>
        <script src="{{ STATIC_URL }}assassins_manager/js/main.js"></script>
        {% include 'django_facebook/_facebook_js.html' %}
    </body>
</html>
