{% extends "base.html" %}

{% block prefix %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cuassassins: http://ogp.me/ns/fb/cuassassins#"{% endblock %}
{% block head_extra %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:type" content="cuassassins:squad" />
<meta property="og:url" content="http://assassins.columbiaesc.com{% url 'squad_details' game=game.name squad=squad.id %}" />
<meta property="og:title" content="{{ squad.name }}" />
<meta property="og:image" content="http://assassins.columbiaesc.com{{ STATIC_URL }}assassins_manager/img/squad_icon.png" />
{% endblock %}

{% block title %}Squad Details: {{ squad.name }}{% endblock %}

{% block content %}
<h1>{{ squad.name }}</h1>
<div id="game-icon">
    <img class="icon left" src="{{ STATIC_URL }}assassins_manager/img/squad_icon_blue.png" />
    <img class="icon right" src="{{ STATIC_URL }}assassins_manager/img/squad_icon_blue.png" />
</div>

<table class="vertical">
    <tr>
        <th>Name:</th>
        <td>
            {{ squad.name }}
        </td>
    </tr>
    {% if show_code %}
    <tr>
        <th>Join Code</th>
        <td>
            {{ squad.code }}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Kills:</th>
        <td>{{ squad.kills }}</td>
    </tr>
    <tr>
        <th>Contracts:</th>
        <td>
            <a href="{% url 'my_contracts' game=game.name %}">

                {{ squad.active_contracts|length }} active, {{ squad.completed_contracts|length }} completed
            </a>
        </td>
    <tr>
        <th>Status:</th>
        <td>
            {% if squad.alive %}
            Alive
            {% else %}
            Dead
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Members:</th>
        <td>
            <ul>
                {% for member in squad.assassin_set.all %}
                <li class="{% if member.alive %}alive{% else %}dead{% endif %}">
                    <a href="{% url 'assassin_details' game=game.name username=member.user.username %}">
                        {{ member.user.username }} ({{ member.status_string }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </td>
</table>
{% endblock %}
