{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Assassins</h1>

<h3>Prizes</h3>
<ul>
    <li>Most Kills (individual)</li>
    <li>Last Team Standing</li>
    <li>Most Police Kills</li>
    <li>Best Kill Report</li>
</ul>

<h3>Introduction</h3>
<strong>Assassins</strong> is a game of espionage, stealth, and resourcefulness. The <strong>objective</strong> of the game is to survive for as long as possible while eliminating the opposition.

<em>Although these rules are intended to be comprehensive and fair, all rulings lie ultimately in the hands of the administrators. The spirit of the rules takes precedence over their specific written implementations, and the commissioners reserve the right to make any judgment at any time, even if it is in direct conflict with an existing rule</em>

<h3>Game Structure</h3>
<p>Teams consist of between one and four players, who must register online in officially administrated games via the games list in the upper left </p>
<p>All players are expected to:</p>
<ul>
    <li>Keep their Facebook profile picture as a portrait facing the camera, with only one person in frame. Any violations will result in immediate disavowal or removal from the game. This should be similar to your CUID photo or passport photo.</li>
    <li>Carry their badges with them at all times (print out the 'Assasin Profile' page</li>
    <li>Honestly hand over their badges when they are killed</li>
</ul>
<p>If a player is found to be in violation of these rules, they will be either disavowed or immediately removed from the game.</p>

<h3>Timeline</h3>
<p>Each team is given 72 hours to eliminate at least one of their contracted targets. On each contracted kill, the deadline moves back by another 72 hours. </p>
<p>When the deadline expires, team members will be immediately disavowed until they can complete their contract. When they do so, they will automatically be returned to regular assassin status.</p>

<h3>Target Acquisition</h3>
<p>Each team will have a contract for another target team. The contract lists the members of the opposing team, their photos, and their names.</p>
<p>Teams will not be provided any information as to who is contracted to kill them</p>
<p>All players may freely target players on the disavowed list</p>
<p>Police may only target disavowed players</p>

<h3>Valid Kills</h3>
<p>You may kill an opposing player if:</p>
<ul>
    <li>Your team is contracted to kill his or her team</li>
    <li>You discover that he or she is contracted to kill you</li>
    <li>He or she is currently disavowed</li>
</ul>

<p>A kill must be carried out using a water pistol, and may result only from a clean shot to the back side of a player. Backpacks, coats, and other clothing <strong>do count</strong> as valid kills. Shots to the arms, neck, or head <strong>do not count</strong> as kills.</p>

<p>Note: the goal of the game is stealth, and thus kills must be carried out in secret.  Consequently, standoffs, physical contact, or other unsportmanslike kills will be subject to dispute and potential disciplinary action by the administrators. If a standoff occurs, the players may call a 5 minute truce and part ways. No kills between the two assassins involved in the standoff may occur during a standoff. However, anyone else can kill either two of the assassins, if they fulfill one of the three conditions above</p>

<h3>Kill Submissions</h3>
<p>When a kill has been confirmed (most obviously by a wet patch on the target's back), the target is required to give up his or her badge to the assassin. If he or she refuses, the assassin may contact game administrators to arbitrate the dispute. If he or she does not have his or her badge, he or she must immediately access their profile and write down their lifecode for the assassin.</p>
<p>When you have your target's lifecode (in any form), you may submit a kill by logging in to the website and navigating to the Squads menu, and then reporting the kill. You will need to know your target's unique user identifier and their lifecode.</p>
<!--<ul>-->
<!--    <li>Log into the website and select the current game. Then, in the Squads menu, select 'Report Kill' and fill out the form. </li>-->
<!--    <li>Text: Text the lifecode and the report message from a <em>registered</em> phone number to (408) 565-8437, separated by a space. </li>-->
<!--</ul>-->
<p>You will receive immediate confirmation or denial of the kill. If possible, neither the target nor the assassin should leave before this confirmation is received.</p>
<p>You can register a phone number under the 'Profile' menu by entering your phone number and then sending / submitting the verification code for text alerts.</p>

<h3>Safety Areas and Innocent Victims</h3>
<p>There are certain areas where you are protected from assassination and/or the police force members at all times</p>
<ul>
    <li>Dodge Gym</li>
    <li>Laboratory Space (including R&amp;D labs and computer labs)</li>
    <li>Quiet Study Rooms</li>
    <li>Professor's Offices</li>
    <li>Columbia work-study jobs</li>
    <li>Office hours</li>
    <li>Official club meetings (only scheduled meetings in booked rooms count) and places of worship</li>
    <li>Classes (during class), but not before and after</li>
</ul>

<h3>Disavowal</h3>
<p>A player may be disavowed due to either his or her deadline expiring or due to a disciplinary infraction. Disavowed player's codenames and pictures will be placed on a publicly viewable list, available from the game details page. </p>
<p>When a disavowed player is killed, his or her assassin will receive bonus time before their deadline expires</p>

<h3>Disqualification</h3>
<p>Administrators reserve the right to disqualify players at the administrators' discretion</p>

<h3>The Police Force</h3>
<p>The police force is the enforcing arm of the administration. Its purpose is to eliminate players on the disavowed list, encouraging the game to keep moving forward. The police force enjoys certain benefits as a result of this. Assassins may defend themselves from police attacks in accordance with the following rules of engagement:</p>
<p>Assassins cannot attack police other than in self-defense: a police officer must show clear intent of killing the assassin (a police officer's gun must be in view).</p>
<p>In police/assassin combat, a hit anywhere on the main body (no arms or legs or head), front or back, counts as a kill.</p>
<p>If a kill occurs, the normal badge exchange procedure is carried out.</p>
<p>If a police officer is hit, he will be incapacitated (unable to kill) for one day./p>
<p>Killing a police officer unjustly will result in being placed on the disavowed list for the remainder of the game. However, the police officer will still be incapacitated for one day.</p>

{% endblock %}
