{% extends "base.html" %}

{% block title %}Game Contracts: {{ game.name }}{% endblock %}

{% block content %}
<h1>Contracts in {{ game.name }}</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Holder</th>
            <th>Target</th>
            <th>Status</th>
        </tr>
    </thead>

    {% for contract in contracts %}
    <tr class="{{ contract.status_string }}">
        <td>{{ contract.id }}</td>
        <td>
            <a href="{% url 'squad_details' game=game.name squad=contract.holder.id %}">
                {{ contract.holder }}
            </a>
        </td>
        <td>
            <a href="{% url 'squad_details' game=game.name squad=contract.target.id %}">
                {{ contract.target }}
            </a>
        </td>
        <td>
            <a href="{% url 'contract_details' game=game.name contract=contract.id %}">
                {{ contract.status_string }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if contracts.has_previous %}
            <a class="prev" href="?page={{ contracts.previous_page_number}}">Previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ contracts.number }} of {{ contracts.paginator.num_pages }}
        </span>

        {% if contracts.has_next %}
            <a class="next" href="?page={{ contracts.next_page_number }}">Next</a>
        {% endif %}
</div>
{% endblock %}
