{% extends "base.html" %}

{% block title %}Assassin Details: {{ assassin.user.username }}{% endblock %}

{% block content %}
<h1>{{ assassin.user.first_name }} {{ assassin.user.last_name }} ({{ assassin.user.username }})</h1>

<!--<div class="user_photo">-->
<!--    {% if assassin.picture %}-->
<!--    <img src="{{ MEDIA_URL }}{{ assassin.picture }}" alt="{{ assassin.user.username }}" width="240" height="240" />-->
<!--    {% else %}-->
<!--        <img src="" alt="" width="240" height="240" />-->
<!--    {% endif %}-->
<!--</div>-->

{% if form %}
<div class="secure">
    <!--<form method="post" action="." enctype="multipart/form-data">-->
    <!--    {% csrf_token %}-->
    <!--    <table>-->
    <!--    {{ form.as_table }}-->
    <!--    </table>-->
    <!--    <input type="submit" value="Submit" /> -->
    <!--</form>-->

    <a class="button" href="{% url 'password_change' %}">Change password</a>
</div>
{% endif %}

<table class="vertical">
    {% if assassin.squad %}
    <tr>
        <th>Squad:</th>
        <td>
            <a href="{% url 'squad_details' game=game.name squad=assassin.squad.id %}">{{ assassin.squad.name }}</a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Deadline:</th>
        <td>{{ assassin.deadline }}</td>
    </tr>
    <tr>
        <th>First Name:</th>
        <td>{{ assassin.user.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{ assassin.user.last_name }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ assassin.user.email }}</td>
    </tr>
    <tr>
        <th>Address:</th>
        <td>{{ assassin.user.columbiauserprofile.address }}</td>
    <tr>
        <th>Status:</th>
        <td>{{ assassin.status_string }}</td>
    </tr>
    <tr>
        <th>Kills:</th>
        <td><a href="{% url 'player_kills' game=game.name username=assassin.user.username %}">{{ assassin.kills }}</a></td>
    </tr>
    <tr>
        <th>Deaths:</th>
        <td><a href="{% url 'player_deaths' game=game.name username=assassin.user.username %}">{{ assassin.deathreports|length }}</a></td>
    </tr>
    {% if show_lifecode or user.is_staff %}
    <tr>
        <th>Lifecode:</th>
        <td>{{ assassin.lifecode }}</td>
    </tr>
    {% endif %}
</table>
{% endblock %}
