{% extends "base.html" %}

{% block title %}Assassin Details: {{ assassin.nickname }}{% endblock %}

{% block content %}
<h1>{{ assassin.user.first_name }} {{ assassin.user.last_name }} ({{ assassin.nickname }})</h1>

<div class="user_photo">
    {% if assassin.user.columbiauserprofile.facebook_id %}
    <img src="https://graph.facebook.com/{{ assassin.user.columbiauserprofile.facebook_id }}/picture?type=large&access_token={{ assassin.user.columbiauserprofile.access_token }}&width=320&height=240" alt="{{ assassin.nickname }}" />
    {% endif %}
</div>

<table class="vertical">
    {% if assassin.squad %}
    <tr>
        <th>Squad:</th>
        <td>
            {% if assassin.squad %}
            <a href="{% url 'squad_details' game=game.name squad=assassin.squad.id %}">{{ assassin.squad.name }}</a>
            {% else %}
            None
            {% endif %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Deadline:</th>
        <td>{{ assassin.deadline }}</td>
    </tr>
    <tr>
        <th>First Name:</th>
        <td>{{ assassin.user.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{ assassin.user.last_name }}</td>
    </tr>
    <tr>
        <th>Identiifer:</th>
        <td>{{ assassin.user.username }}</td>
    </tr>
    <!--<tr>-->
    <!--    <th>Address:</th>-->
    <!--    <td>{{ assassin.user.columbiauserprofile.address }}</td>-->
    <!--<tr>-->
        <th>Status:</th>
        <td>{{ assassin.status_string }}</td>
    </tr>
    <tr>
        <th>Kills:</th>
        <td><a href="{% url 'player_kills' game=game.name username=assassin.nickname %}">{{ assassin.kills }}</a></td>
    </tr>
    <tr>
        <th>Deaths:</th>
        <td><a href="{% url 'player_deaths' game=game.name username=assassin.nickname %}">{{ assassin.deathreports|length }}</a></td>
    </tr>
    {% if show_lifecode or user.is_staff %}
    <tr>
        <th>Lifecode:</th>
        <td>{{ assassin.lifecode }}</td>
    </tr>
    {% endif %}
    {% if assassin_current.is_police %}
    <tr>
        <th>Address:</th>
        <td>{{ assassin.address }}</td>
    </tr>
    {% endif %}
</table>
{% endblock %}
