/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* colors */
/*
 *
grey
#343838
dark blue
#005f6b
medium blue
#008c9e
blue
#00b4cc
bright blue
#00dffc
 */

html {
    overflow-y: scroll;
}
body {
    background: url('../img/pattern.png');
    color: #00b4cc;
}
table {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
thead {
}
tr {
    border: 1px solid #005f6b;
}
td, th {
    padding: 5px;
}
table.vertical th {
    text-align: right;
    width: 50%;
}
table.vertical td {
    text-align: left;
    width: 50%;
}

a, a:visited {
    text-decoration: none;
    color: #00dffc;
}
a:hover {
    text-decoration: underline;
}

#wrapper {
    width: 860px;
    margin: 0 auto;
}

/* navigation */
header {
    position: absolute;
    width: 100%;
    height: 32px;
    background: rgba(0,0,0,0.5);
    clear: both;
    color: #00dffc;
}
header ul {
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
}
header > ul > li {
    display: inline-block !important;
}
header ul.navigation {
    float: left;
    margin-left: 40px;
}
header ul.login {
    float: right;
    margin-right: 40px;
}

header ul li {
    display: inline;
    height: 32px;
    margin: 0 5px;
}
header li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
header li a:hover {
    background: #005f6b;
    text-decoration: underline;
}
header ul li ul {
    background: rgba(0,0,0,0.7);
    list-style: none;
    position: absolute;
    display: none;
}
header ul ul li {
    width: 175px;
    display: block;
    margin: 0;
}
header ul ul a {
    white-space: nowrap;
}
header ul li:hover ul {
    display: block;
}
header ul li:hover > a {
    background: #005f6b;
    text-decoration: none;
}
header ul li:hover ul a {
    text-decoration: none;
}
header ul li:hover ul a:hover {
    text-decoration: underline;
}

#content {
    padding: 30px;
    width: 800px;
    background: rgba(52,56,56,0.97);/*#343838;*/
    float: left;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 5px #000;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    text-align: center;
}

/* forms */
form input, textarea {
    background: #343838;
    color: #00b4cc;
    border: #005f6b 1px solid;
    border-radius: 5px;
    width: 95%;
    padding: 2px;
}
form ul.errorlist {
    list-style: none;
}
form ul.errorlist li {
    margin-right: 20px;
    margin-top: -20px;
    height: 20px;
    float: right;
}

form input[type="button"],
form input[type="submit"],
form input[type="reset"],
a.button {
    padding: 5px;
    background: #343838;
    color: #00b4cc;
    border: #005f6b 1px solid;
    border-radius: 5px;
    width: 100%;
    display: block;
    text-align: center;
}

form input[type="button"]:hover,
form input[type="submit"]:hover,
form input[type="reset"]:hover,
a.button:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.05);
}

a.button {
    margin-bottom: 10px;
}

/* fix button widths */
.secure,
.register_link,
.game_create,
#game_admin {
    margin-right: 12px;
}

/* pictures */
.icon {
    height: 72px;
    width: 72px;
}
#game-icon {
    position: absolute;
    height: 72px;
    width: 100%;
    margin-left: -30px;
    margin-top: -84px;
}
#game-icon .left {
    float: left;
    margin-left: 200px;
}
#game-icon .right {
    float: right;
    margin-right: 200px;
}

.user_photo img {
    margin: 0 auto;
    display: block;
}

.killpicture {
    width: 670px;
    margin: 0 auto;
}

.killpicture img.killer,
.killpicture img.corpse {
    height: 240px;
    width: 320px;
    margin: 0 0 30px 0;
    float: left;
}
.killpicture h3 {
    margin-top: -20px;
}
.killpicture .killer-title {
    float: left;
    margin-left: 150px;
}
.killpicture .corpse-title {
    float: right;
    margin-right: 150px;
}
.killpicture img.corpse {
    margin-left: 30px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    filter: grayscale(100%);
}


/* login form */
.register_link {
    margin-top: 10px;
}

/* pagination */
.pagination {
    height: 24px;
}
.pagination a.prev {
    float: left;
}
.pagination a.next {
    float: right;
}
.pagination span.current {
    position: absolute;
    left: 45%;
}

/* details page */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    header {
        display: none;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
